<div align="center">
    </h4>
    <p> hi</p>


    </p>

    <p><a href="documentation.docx">Link to documentation</a></p>
    <p><a href="Produt Backlog v2.xls">Link to Product Backlog</a></p>
    <p><a href="sprint backlog.xls">Link to Sprint Backlog</a></p>
    <br><br><br>


    <p><a href="https://github.com/Legendslayer/FirstWebPage">Link to github</a></p>
    <img src="../../architecture.jpg" width="350" height="200">
    </h4>
    <div class="col-md-3"  style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
        <form class="form-horizontal">
            <fieldset >
                <legend>Create User</legend>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-3" ><span class="label label-info">User name</span></label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="users.username" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-xs-3" ><span class="label label-info">Password</span></label>
                    <div class="col-xs-9">
                        <input type="password"  ng-model="users.password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="e-mail" class="control-label col-xs-3"><span class="label label-info">Email</span></label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="users.email" class="form-control" id="e-mail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3"><span class="label label-info">Status</span></label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="users.status" class="form-control" id="status" placeholder="User">
                    </div>
                </div>
                <button type="submit" ng-click="createU(users)"  class="btn btn-primary">Create</button>
            </fieldset>
        </form>
        <div class="form-group">
        </div>
    </div></p>
</div>